<div class="row thin-padding">
	<div class="column">
		<nav id="nav-footer" class="nav-footer footer-menu" role="navigation">
			<ul class="menu">
				<li class="">
					<a href="https://waypointchurch.com/about/">About</a>
					<ul class="menu">
						<li class="">
							<a href="https://waypointchurch.com/staff/">Staff</a>
						</li>
						<li class="">
							<a href="https://waypointchurch.com/beliefs/">Beliefs</a>
						</li>
					</ul>
				</li>
				<li class="8">
					<a href="https://waypointchurch.com/next-steps/">Next Steps</a>
					<ul class="menu">
						<li class="">
							<a href="https://waypointchurch.com/visit/">Visit</a>
						</li>
						<li class=" menu-item  ">
							<a href="/events">Events</a>
						</li>
						<li class=" menu-item">
							<a href="https://waypointchurch.com/groups/">Groups</a>
						</li>
						<li class=" menu-item">
							<a href="https://waypointchurch.com/serve/">Serve</a>
						</li>
						<li class=" menu-item">
							<a href="https://waypointchurch.com/membership/">Membership</a>
						</li>
					</ul>
				</li>
				<li class=" menu-item  ">
					<a href="/watch">Watch</a>
					<ul class="menu">
						<li class=" menu-item">
							<a href="https://www.youtube.com/channel/UCKvlHCPgP_TohOUkb8XuN-w">YouTube</a>
						</li>
						<li class=" menu-item">
							<a href="https://www.rightnowmedia.org/Library/">RightNow Media</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="https://waypointchurch.com/ministries/">Ministries</a>
					<ul class="menu">
						<li class="">
							<a href="https://waypointchurch.com/way-kids-draft/">Kids</a>
						</li>
						<li class="2">
							<a href="https://waypointchurch.com/students/">Students</a>
						</li>
						<li class="">
							<a href="https://waypointchurch.com/adults/">Adults</a>
						</li>
						<li class=" menu-item  4">
							<a href="https://waypointchurch.com/missions/">Missions</a>
						</li>
						<li class=" menu-item  5">
							<a href="https://waypointchurch.com/care/">Care</a>
						</li>
					</ul>
				</li>
				<li class=" menu-item  5">
					<a href="https://www.beyondus.info">Beyond Us</a>
				</li>
				<li class=" menu-item  6">
					<a href="https://waypointchurch.com/membership/">Members</a>
					<ul class="menu">
						<li class=" menu-item  0">
							<a href="https://app.securegive.com/fbch">Give</a>
						</li>
						<li class=" menu-item  3">
							<a href="https://waypointchurch.storenvy.com">Store</a>
						</li>
						<li class=" menu-item  ">
							<a href="https://fbch.onthecity.org/">The City</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="contact-footer">
				<a href="http://maps.google.com/?q=4075 Old Hwy 94 S, &lt;br&gt;Saint Charles, MO 63304" class="contact-address"><i class="fas fa-map-marker"></i>4075 Old Hwy 94 S, <br>Saint Charles, MO 63304</a>
				<a href="tel:636-928-9757" class="contact-phone"><i class="fas fa-phone"></i>636-928-9757</a>
				<a href="mailto:info@waypointchurch.com" class="contact-email"><i class="fas fa-envelope"></i>info@waypointchurch.com</a>
			</div>
		</nav><!-- #nav -->
	</div>
</div>