

<footer class="bg-dark">
  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media clearfix full">
          <li class="social-icon facebook">
            <a href="https://www.facebook.com/wearewaypoint/">
              <i class="fab fa-facebook"></i>
              <span>facebook</span>
            </a>
          </li>
          <li class="social-icon instagram">
            <a href="https://www.instagram.com/wearewaypoint/">
              <i class="fab fa-instagram"></i>
              <span>instagram</span>
            </a>
          </li>
          <li class="social-icon twitter">
            <a href="https://twitter.com/waypointonthego">
              <i class="fab fa-twitter"></i>
              <span>twitter</span>
            </a>
          </li>
        </ul>       
      </div>
    </div>
    
    {% comment %}
    {% include "parts/footer-menu" %}
    {% endcomment %}
    
    <div class="row">
      <div class="col-md-12 footer-logo">  
        
        {% include "parts/waypoint-logo" %}
        <div class='thin-padding'>
         <small class="gray">Copyright Waypoint Church 2018</small><small class="gray"> | </small><a href="https://waypointchurch.com/privacypolicy/"><small class="gray">Privacy Policy</small></a> 
        </div>
      </div>
    </div>
  </div>
</footer>