
<!-- Page Header -->
<header>

  <!-- Brand Bar -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <!-- ArtSpeak changed 'container' to 'container-fluid' -->
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        <div id="zone-header" class="zone-instance">
          <div class="zone-content">
            <div id="bid_369" data-zone-location="Layout" class="block-instance html-content">
              <div class="block-content">
                <div id="ctl00_ctl19_ctl01_ctl00_upnlHtmlContent">
                  <a class="navbar-brand" href="https://rock.waypointchurch.com/page/1">
                    <!-- ArtSpeak added Waypoint Logo as SVG -->
                    {% include "parts/waypoint-logo" %} 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>	
      <div class="navbar-collapse collapse">   
        <!-- Main Navigation -->
        <div class="pull-right">
          <div id="zone-login" class="zone-instance">
            <div class="zone-content">
              <div id="bid_367" data-zone-location="Layout" class="block-instance login-status">
                <div class="block-content">


                  <ul class="nav navbar-nav loginstatus">    
                    <li id="ctl00_ctl21_ctl01_ctl00_liDropdown" class="dropdown">

                      <a class="dropdown-toggle navbar-link" href="https://rock.waypointchurch.com/page/414?EventOccurrenceId=5#" data-toggle="dropdown">
                        <div id="ctl00_ctl21_ctl01_ctl00_divProfilePhoto" class="profile-photo" style="background-image: url(&#39;/Assets/Images/person-no-photo-male.svg?&#39;);">
                        </div>

                        <span>Hello Kirk</span>
                        <b class="fa fa-caret-down">
                        </b>
                      </a>

                      <ul class="dropdown-menu">

                        <li>
                          <a id="ctl00_ctl21_ctl01_ctl00_hlMyAccount" href="https://rock.waypointchurch.com/MyAccount">My Account</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a id="ctl00_ctl21_ctl01_ctl00_lbLoginLogout" href="javascript:__doPostBack(&#39;ctl00$ctl21$ctl01$ctl00$lbLoginLogout&#39;,&#39;&#39;)">Logout</a>
                        </li>
                      </ul>

                    </li>

                  </ul>
                  <input type="hidden" name="ctl00$ctl21$ctl01$ctl00$hfActionType" id="ctl00_ctl21_ctl01_ctl00_hfActionType" value="Logout">


                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="zone-navigation" class="zone-instance">
          <div class="zone-content">
            <div id="bid_345" data-zone-location="Layout" class="block-instance page-menu">
              <div class="block-content">
                <div id="ctl00_ctl23_ctl01_ctl00_upContent">


                  <ul class="nav navbar-nav">


                    <li>
                      <a href="https://rock.waypointchurch.com/page/211">New Here?</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/page/212">Resources</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/page/229">Connect</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/Give">Give</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/page/346">Blog</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/page/397">Calendar</a>
                    </li>

                    <li>
                      <a href="https://rock.waypointchurch.com/watch">Watch</a>
                    </li>

                  </ul>


                </div>

              </div>
            </div>
          </div>
        </div>
      </div>	
    </div>
  </nav>

</header>