<!DOCTYPE html>
<!-- saved from url=(0060)https://rock.waypointchurch.com/page/414?EventOccurrenceId=5 -->
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>
   {{ page.title }}
 </title> 

 <script type="text/javascript" async="" src="./Assets/aiuzwa0w"></script>
 <script src="./Assets/RockJQueryLatest"></script>

 <!-- Set the viewport width to device width for mobile -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
 <meta name="generator" content="Rock v1.7.5.59">

 <!-- Included LESS Files -->
 <!-- <link rel="stylesheet/less" href="./less/bootstrap.less">
 <link rel="stylesheet/less" href="./less/theme.less"> 
 <script src="./js/less.min.js" ></script>  -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,900">

 

 <!-- Included CSS Files -->
 <link rel="stylesheet" href="./Assets/css/bootstrap.css"> 
 <link rel="stylesheet" href="./Assets/css/theme.css">  
 <link rel="stylesheet" href="./Assets/css/developer.css">

 <script src="./Assets/js/modernizr.js"></script>


</head>

