
  <form method="post" action="https://rock.waypointchurch.com/page/414?EventOccurrenceId=5" id="form1">
    <div class="aspNetHidden">
      <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
      <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
      <input type="hidden" name="__CVIEWSTATESIZE" id="__CVIEWSTATESIZE" value="0">
      <input type="hidden" name="__CVIEWSTATEENC" id="__CVIEWSTATEENC" value="1">
      <input type="hidden" name="__CVIEWSTATE" id="__CVIEWSTATE" value="">
      <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="">
    </div> 

    <script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['form1']; 
    if (!theForm) {
      theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
      if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
      }
    }
    //]]>
    </script>


<script src="./assets/WebResource.axd" type="text/javascript"></script>
<script src="./assets/ScriptResource.axd" type="text/javascript"></script>
<script src="./assets/ScriptResource(1).axd" type="text/javascript"></script>
<script src="./assets/WebFormsJs" type="text/javascript"></script>
<script src="./assets/RockLibs" type="text/javascript"></script>
<script src="./assets/RockUi" type="text/javascript"></script>
<script src="./assets/RockValidation" type="text/javascript"></script>

<div class="aspNetHidden">
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="TZIy7eX3TkeLOsNzlyRoMo/iaGknNzg7rijRWE3m/2VJR+vDXIHLltYKOv+qwgSPd2KaksOK0RH3JTyeEmmIO+KxUXecgntWwMgBDZnAgbESEl1Nq0PF9TKxqLQyByjr/G7UbSsOnnjd6i6qgcmijWGQRtec7I1CGhSZaUihUFoSQ6SN">
</div>