<!-- headers/standard -->
<section class="section header has-image bg-gradient container-fluid">
	{% if post.image %} 
		<img src="{{ post.image }}" alt="" class="section-background-image header-background-image fade-30">
	{% endif %}
	<div class="container section-content mega-padding">
		<div class="col-sm-12 text-center white">
			<h1>{{ post.title }}</h1> 
		</div>
	</div>
</section>