<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="214.9px" height="45.7px" viewBox="0 0 214.9 45.7" style="enable-background:new 0 0 214.9 45.7;"
	 xml:space="preserve">
<style type="text/css">
	.svg-white{fill:#FFFFFF;}
	.svg-white-half-opacity{opacity:0.5;fill:#FFFFFF;}
</style>
<defs>
</defs>
<g id="Header_copy">
	<g>
		<g>
			<polygon class="svg-white" points="21.5,14 17.8,2.1 13,2.1 9.1,13.9 5.4,2.1 0,2.1 6,20.5 11.6,20.5 15.2,9.3 18.8,20.5 24.3,20.5 
				30.3,2.1 25.3,2.1 			"/>
			<polygon class="svg-white" points="74.8,9.4 70.4,2.1 64.9,2.1 71.9,13.8 71.9,20.5 77.1,20.5 77.1,13.9 84.2,2.1 79.1,2.1 			"/>
			<path class="svg-white" d="M104.4,2.1l-8.4,0l0,18.4l5.2,0l0-4.8l3.2,0c5,0,8.2-2.6,8.2-6.8C112.5,4.7,109.4,2.1,104.4,2.1z M104,11.6
				l-2.9,0l0-5.4l2.9,0c2.2,0,3.2,1,3.2,2.7C107.3,10.6,106.2,11.6,104,11.6z"/>
			<path class="svg-white" d="M132.7,1.7c-5.9,0-10.2,4.1-10.2,9.6c0,5.5,4.3,9.6,10.2,9.6c5.9,0,10.2-4.1,10.2-9.6
				C143,5.8,138.6,1.7,132.7,1.7z M132.7,16.6c-2.8,0-5-2.1-5-5.3c0-3.2,2.2-5.3,5-5.3c2.8,0,5,2.1,5,5.3
				C137.7,14.5,135.5,16.6,132.7,16.6z"/>
			<rect x="153.8" y="2.1" class="svg-white" width="5.2" height="18.4"/>
			<polygon class="svg-white" points="183.2,11.9 175.1,2.1 170.8,2.1 170.8,20.5 175.9,20.5 175.9,10.7 184,20.5 188.3,20.5 188.3,2.1 
				183.2,2.1 			"/>
			<polygon class="svg-white" points="198.4,2.1 198.4,6.2 204,6.2 204,20.5 209.2,20.5 209.2,6.2 214.9,6.2 214.9,2.1 			"/>
		</g>
		<g class="hidden-sm hidden-xs">
			<path class="svg-white" d="M61.2,45.7c-3.1,0-5.4-2.3-5.4-5.4c0-1.5,0.6-2.9,1.6-3.9c1-1,2.4-1.6,4-1.6c2.4,0,3.7,1.1,4.5,2.3l-2.2,1.3
				c-0.6-0.8-1.3-1.2-2.3-1.2c-1.5,0-2.7,1.3-2.7,3c0,1.8,1.1,3.1,2.7,3.1c1.2,0,1.9-0.6,2.3-1.3l2.2,1.3
				C64.8,44.9,63.3,45.7,61.2,45.7z"/>
			<polygon class="svg-white" points="81.8,45.4 81.8,41.3 77.2,41.3 77.2,45.4 74.4,45.4 74.4,35 77.2,35 77.2,39.1 81.8,39.1 81.8,35 
				84.5,35 84.5,45.4 			"/>
			<path class="svg-white" d="M98.4,45.6c-3.4,0-5.1-1.6-5.1-4.8l0-5.8l2.8,0l0,5.7c0,1.6,0.9,2.6,2.3,2.6c1.4,0,2.3-0.9,2.3-2.5l0-5.8
				l2.8,0l0,5.7C103.6,44,101.9,45.6,98.4,45.6z"/>
			<path class="svg-white" d="M118.9,45.4l-2.2-3.3l-1.6,0v3.3l-2.8,0l0-10.4l5.1,0c1.7,0,3,0.4,3.7,1.2c0.6,0.6,0.9,1.3,0.9,2.3
				c0,1.4-0.7,2.4-2,3.1l-0.6,0.3l2.4,3.6L118.9,45.4z M115.2,40.5l2.2,0c1.2,0,2-0.6,2-1.6c0-0.8-0.5-1.7-2-1.7l-2.2,0L115.2,40.5z
				"/>
			<path class="svg-white" d="M135.7,45.7c-3.1,0-5.4-2.3-5.4-5.4c0-3.1,2.4-5.5,5.6-5.5c2.4,0,3.7,1.1,4.5,2.3l-2.2,1.3
				c-0.6-0.8-1.3-1.2-2.3-1.2c-1.5,0-2.7,1.3-2.7,3c0,1.8,1.1,3.1,2.7,3.1c1.2,0,1.9-0.6,2.3-1.3l2.2,1.3
				C139.3,44.9,137.8,45.7,135.7,45.7z"/>
			<polygon class="svg-white" points="156.3,45.4 156.3,41.3 151.7,41.3 151.7,45.4 149,45.4 149,35 151.7,35 151.7,39.1 156.3,39.1 
				156.3,35 159,35 159,45.4 			"/>
		</g>
		<polygon class="svg-white" points="46.9,17.3 46.9,0 35.6,22.8 		"/>
		<polygon class="svg-white-half-opacity" points="46.9,17.3 46.9,0 58.3,22.8 		"/>
	</g>
</g>
</svg>
