
{% assign post.title = "Test Event" %}
{% assign post.image = "https://waypointchurch.com/wp-content/uploads/2018/09/DSC_5082-1680x0-c-default.jpg" %}
{% assign post.content = "<p>The WKND<br>WHO:<br>All students currently in 6th- 12th grade<br><br>WHY:<br>The WKND is one of the Student Ministries' most exciting weekends. Students begin with a crazy fun opening and large group session on Friday night. They will stay at host homes and dive deeper together in their discipleship journey through the weekend. You won't want to miss this weekend filled with adventure, discipleship, and praising God!<br><br>WHEN/WHERE:<br>Drop off at The Lower Level of The Realm-Friday, March 2, 2018 at 6:00 pm (eat dinner before you come)<br>Pick up at The Realm-Sunday, March 4, 2018 at 12pm (after the 2nd service ends)<br><br>The WKND is hosted at:<br>The Realm and host homes<br><br>TO REGISTER BEFORE FEBRUARY 1:<br>This registration form<br>$60.00 Non-refundable Payment BY CHECK (includes all meals, activities &amp; the event)<br>$62.00 Non-refundable Payment ONLINE (includes transaction fee and all meals, activities &amp; the event)<br><br>PRICES INCREASE BY $10 AFTER FEBRUARY 1<br><br>ADDITIONAL FORMS TO BE COMPLETED:<br>2018 FBCH Medical Release (can not be turned in till Jan 2018)<br>Student Health Form<br></p>" %}
{% assign post.date = "Dec 6" %}
{% assign post.time = "6:00 PM" %}


{% include 'parts/head' %} 

<body id="body">

  {% include 'parts/open-form' %}  

  <!-- ArtSpeak  -->
  {% include 'parts/header' %}  

  <!-- Start Content Area -->

  <!-- Image Header -->
  <!-- ArtSpeak added new markup: page-header -->
  {% include "parts/page-header" %}

  <main class="container">



    <!-- Ajax Error -->
    <div class="alert alert-danger ajax-error" style="display:none">
      <p>
        <strong>Error</strong>
      </p>
      <span class="ajax-error-message">
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-feature" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-main" class="zone-instance">
          <div class="zone-content">
            <div id="bid_675" data-zone-location="Page" class="block-instance calendar-event-item-occurrence-lava">
              <div class="block-content">
                <div id="ctl00_main_ctl09_ctl01_ctl00_upnlContent">

                  <div class="row">

                    <div class="col-md-8 col-md-push-4 margin-b-md">

                      <!-- ArtSpeak moved breadcrumbs here -->
                      <!-- Breadcrumbs -->    
                      <ul class="breadcrumb">
                        <li>
                          <a href="https://rock.waypointchurch.com/page/1">Home</a>
                        </li>
                        <li>
                          <a href="https://rock.waypointchurch.com/page/397">Calendar</a>
                        </li>
                        <li class="active">{{post.title}}</li>
                      </ul> 


                      <h1>{{ post.title }}</h1>

                      {{ post.content  }}

                    </div>

                    <div class="col-md-4 col-md-pull-8">

                      <!-- ArtSpeak added class: event-details -->
                      <div class="well event-details"> 
                        <strong>Date / Time</strong>
                        <ul class="list-unstyled">
                        </ul>
                        <strong>Note</strong>
                        <br>
                        <p>
                          <br>
                        </p>

                        <a href="https://rock.waypointchurch.com/Registration?RegistrationInstanceId=3&amp;EventOccurrenceID=5" class="btn btn-primary btn-block margin-t-md">Register</a>

                      </div>

                      <script>function fbs_click() { u = location.href; t = document.title; window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false; }</script>
                      <script>function ics_click() { text = `BEGIN:VCALENDAR
                        VERSION:2.0
                        PRODID:-//ddaysoftware.com//NONSGML DDay.iCal 1.0//EN
                        BEGIN:VEVENT
                        DTEND:20180819T170001
                        DTSTAMP:20180829T190104Z
                        DTSTART:20180819T170000
                        RRULE:FREQ=WEEKLY;COUNT=10;BYDAY=WE
                        SEQUENCE:0
                        UID:eaf5134e-f758-4bc6-a990-707e349581b0
                        END:VEVENT
                        END:VCALENDAR
                      `.replace('END:VEVENT', 'SUMMARY: Test Event\r\nLOCATION: \r\nEND:VEVENT'); var element = document.createElement('a'); element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text)); element.setAttribute('download', 'Test Event.ics'); element.style.display = 'none'; document.body.appendChild(element); element.click(); document.body.removeChild(element); }</script>
                      <ul class="socialsharing">
                        <li>
                          <a href="http://www.facebook.com/share.php?u=%3Curl%3E" onclick="return fbs_click()" target="_blank" class="socialicon socialicon-facebook" title="" data-original-title="Share via Facebook"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                          <a href="http://twitter.com/home?status=https%3A%2F%2Frock.waypointchurch.com%2Fpage%2F414%3FEventOccurrenceId%3D5" class="socialicon socialicon-twitter" title="" data-original-title="Share via Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="mailto:?Subject=Test%20Event&amp;Body=https%3A%2F%2Frock.waypointchurch.com%2Fpage%2F414%3FEventOccurrenceId%3D5" class="socialicon socialicon-email" title="" data-original-title="Share via Email"><i class="fa fa-fw fa-envelope-o"></i></a>
                        </li>
                        <li>
                          <a href="https://rock.waypointchurch.com/page/414?EventOccurrenceId=5" onclick="return ics_click()" class="socialicon socialicon-calendar" title="" data-original-title="Download Event"><i class="fa fa-fw fa-calendar"></i></a>
                        </li>
                      </ul>

                    </div>
                  </div> 

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-sectiona" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div id="zone-sectionb" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="zone-sectionc" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="zone-sectiond" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <!-- End Content Area -->

  </main>

  {% include "parts/footer" %}

  {% include "parts/close-form" %}


</body>
</html>