
{% assign post.title = "Small Groups" %}
{% assign post.image = "https://waypointchurch.com/wp-content/uploads/2018/09/DSC_5082-1680x0-c-default.jpg" %}
{% assign post.content = "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget pellentesque metus. Sed tempor velit ante, et malesuada lorem venenatis sed. Donec lacinia lacus sit amet pharetra vehicula. Nam accumsan malesuada fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate semper tellus ac faucibus.</p>" %}



{% include 'parts/head' %} 

<body id="body">

  {% include 'parts/open-form' %}  

  <!-- ArtSpeak  -->
  {% include 'parts/header' %}  

  <!-- Start Content Area -->

  <!-- Image Header -->
  <!-- ArtSpeak added new markup: page-header -->
  {% include "parts/page-header" %}

  <main class="container">

    <!-- Start Content Area -->
 
    <!-- Page Title -->
    <!-- ArtSpeak removed pagetitle -->
    <ul class="breadcrumb">
      <li>
        <a href="https://rock.waypointchurch.com/page/1">Home</a>
      </li>
      <li>
        <a href="https://rock.waypointchurch.com/page/229">Connect</a>
      </li>
      <li class="active">Small Groups</li>
    </ul>

    <!-- Ajax Error -->
    <div class="alert alert-danger ajax-error" style="display:none">
      <p>
        <strong>Error</strong>
      </p>
      <span class="ajax-error-message">
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-feature" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div id="zone-sidebar1" class="zone-instance">
          <div class="zone-content">
            <div id="bid_365" data-zone-location="Page" class="block-instance page-menu">
              <div class="block-content">
                <div id="ctl00_main_ctl10_ctl01_ctl00_upContent">


                  <section class="nav-sub">


                    <ul class="nav nav-pills nav-stacked nav-categories">

                      <li>
                        <a href="https://rock.waypointchurch.com/page/230">Children</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/231">Students</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/232">Adults</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/233">Prayer</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/234">Missions</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/235">Serve</a>
                      </li>
                      <li class="active">
                        <a href="https://rock.waypointchurch.com/page/236">Small Groups</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/ContactUs">Contact Us</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/Subscribe">Subscribe</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/FamilyPreRegistration">Family Pre-Registration</a>
                      </li>
                      <li>
                        <a href="https://rock.waypointchurch.com/page/539">New Student Capture</a>
                      </li>

                    </ul>


                  </section>
                  <p>

                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div id="zone-main" class="zone-instance">
          <div class="zone-content">
            <div id="bid_366" data-zone-location="Page" class="block-instance html-content">
              <div class="block-content">
                <div id="ctl00_main_ctl12_ctl01_ctl00_upnlHtmlContent">
                  
                </div>

              </div>
            </div>
            <div id="bid_604" data-zone-location="Page" class="block-instance group-finder">
              <div class="block-content">
                <div id="ctl00_main_ctl12_ctl02_ctl00_upnlContent">

                  {{post.content}}



                  <div id="ctl00_main_ctl12_ctl02_ctl00_pnlView" class="panel panel-block">

                    <div class="panel-heading clearfix">
                      <h1 class="panel-title pull-left">
                        <i class="fa fa-map-marker"></i> Group Finder
                      </h1>
                    </div>

                    <div class="panel-body">


                      <div id="ctl00_main_ctl12_ctl02_ctl00_pnlSearch">


                        <div id="ctl00_main_ctl12_ctl02_ctl00_valSummary" class="alert alert-danger" style="display:none;">

                        </div>


                        <div class="form-group rock-check-box-list ">
                          <label class="control-label" for="ctl00_main_ctl12_ctl02_ctl00_cblCampus">Campuses</label> <div class="control-wrapper">
                            <input type="hidden" name="ctl00$main$ctl12$ctl02$ctl00$cblCampus$hf" id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_hf" value="1">
                            <div class="controls js-rockcheckboxlist">

                              <label class="checkbox-inline">
                                <input id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_0" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$cblCampus$0" value="1">Main Campus</label>
                                <span id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_cblCampus_cfv" class="validation-error help-inline" style="display:none;">Campuses is Required.</span>
                              </div>
                            </div>
                          </div>


                          <div class="actions">
                            <a id="ctl00_main_ctl12_ctl02_ctl00_btnSearch" class="btn btn-primary" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl12$ctl02$ctl00$btnSearch&quot;, &quot;&quot;, true, &quot;GroupFinder_604&quot;, &quot;&quot;, false, true))">Search</a>
                            <a id="ctl00_main_ctl12_ctl02_ctl00_btnClear" class="btn btn-link" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl12$ctl02$ctl00$btnClear&quot;, &quot;&quot;, true, &quot;GroupFinder_604&quot;, &quot;&quot;, false, true))">Clear</a>
                          </div>


                        </div>

                        <div id="ctl00_main_ctl12_ctl02_ctl00_pnlResults">



                          <style>
                          #map_wrapper {
                            height: 600px;
                          }

                          #map_canvas {
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                          }
                        </style>



                        <div id="ctl00_main_ctl12_ctl02_ctl00_pnlMap" class="margin-v-sm">

                          <div id="map_wrapper">
                            <div id="map_canvas" class="mapping" style="position: relative; overflow: hidden;">
                              <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                <div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
                                  <div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;">
                                    <div style="z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                          <div style="position: absolute; z-index: 996; transform: matrix(1, 0, 0, 1, -158, -17);">
                                            <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -512px; top: -512px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: -256px; top: -512px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 0px; top: -512px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 256px; top: -512px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 512px; top: -512px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                            <div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;">
                                              <div style="width: 256px; height: 256px;">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;">
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;">
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                                      </div>
                                      <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                                        <div style="position: absolute; z-index: 996; transform: matrix(1, 0, 0, 1, -158, -17);">
                                          <div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 512px; top: -512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(1)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 256px; top: -512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(2)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 0px; top: -512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(3)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(4)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(5)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(6)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(7)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(8)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(9)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(10)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(11)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(12)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(13)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 512px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(14)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(15)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -512px; top: 256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(16)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: 512px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(17)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -256px; top: -512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(18)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                          <div style="position: absolute; left: -512px; top: -512px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;">
                                            <img draggable="false" alt="" role="presentation" src="./assets/groups/vt(19)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0; transition-duration: 0.8s;">
                                      <p class="gm-style-pbt">Use ⌘ + scroll to zoom the map</p>
                                    </div>
                                    <div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;">
                                      <div style="z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);">
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;">
                                        </div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;">
                                        </div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;">
                                        </div>
                                        <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <iframe aria-hidden="true" frameborder="0" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;" src="./assets/groups/saved_resource.html">
                                  </iframe>
                                  <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
                                    <a target="_blank" rel="noopener" href="https://maps.google.com/maps?ll=39.8282,-98.5795&amp;z=4&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;">
                                      <div style="width: 66px; height: 26px; cursor: pointer;">
                                        <img alt="" src="./assets/groups/google4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;">
                                      </div>
                                    </a>
                                  </div>
                                  <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 274px; top: 210px;">
                                    <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div>
                                    <div style="font-size: 13px;">Map data ©2018 Google, INEGI</div>
                                    <button draggable="false" title="Close" aria-label="Close" type="button" class="gm-ui-hover-effect" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;">
                                      <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;">
                                    </button>
                                  </div>
                                  <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 72px; bottom: 0px; width: 150px;">
                                    <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;">
                                      <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                        <div style="width: 1px;">
                                        </div>
                                        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;">
                                        </div>
                                      </div>
                                      <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                        <a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a>
                                        <span>Map data ©2018 Google, INEGI</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
                                    <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google, INEGI</div>
                                  </div>
                                  <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;">
                                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                      <div style="width: 1px;">
                                      </div>
                                      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;">
                                      </div>
                                    </div>
                                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                      <a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" rel="noopener" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a>
                                    </div>
                                  </div>
                                  <button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" class="gm-control-active gm-fullscreen-control" style="background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; top: 0px; right: 0px;">
                                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;">
                                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;">
                                    <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 11px;">
                                  </button>
                                  <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;">
                                    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
                                      <div style="width: 1px;">
                                      </div>
                                      <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;">
                                      </div>
                                    </div>
                                    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;">
                                      <a target="_blank" rel="noopener" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@39.8282,-98.5795,4z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a>
                                    </div>
                                  </div>
                                  <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="40" controlheight="113" style="margin: 10px; user-select: none; position: absolute; bottom: 127px; right: 40px;">
                                    <div class="gmnoprint" controlwidth="40" controlheight="81" style="position: absolute; left: 0px; top: 32px;">
                                      <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;">
                                        <button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 9px 11px 13px;">
                                        </button>
                                        <div style="position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;">
                                        </div>
                                        <button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" class="gm-control-active" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 18px; width: 18px; margin: 13px 11px 9px;">
                                        </button>
                                      </div>
                                    </div>
                                    <div style="position: absolute; left: 20px; top: 0px;">
                                    </div>
                                    <div class="gmnoprint" controlwidth="40" controlheight="40" style="display: none; position: absolute;">
                                      <div style="width: 40px; height: 40px;">
                                        <button draggable="false" title="Rotate map 90 degrees" aria-label="Rotate map 90 degrees" type="button" class="gm-control-active" style="background: none rgb(255, 255, 255); display: none; border: 0px; margin: 0px 0px 32px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="height: 28px; width: 28px; margin: 6px;">
                                        </button>
                                        <button draggable="false" title="Tilt map" aria-label="Tilt map" type="button" class="gm-tilt gm-control-active" style="background: none rgb(255, 255, 255); display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;">
                                          <img src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A" style="width: 18px; height: 16px; margin: 12px 11px;">
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                        </div>



                        <div id="ctl00_main_ctl12_ctl02_ctl00_pnlGrid" class="margin-v-sm">

                          <div class="grid">
                            <div class="table-responsive">
                              <table class="grid-table table table-bordered table-striped table-hover" id="ctl00_main_ctl12_ctl02_ctl00_gGroups">
                                <thead>
                                  <tr align="left" data-original-title="" title="">
                                    <th data-priority="1" scope="col">
                                      <a href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups&#39;,&#39;Sort$Name&#39;)">Name</a>
                                    </th>
                                    <th data-priority="1" scope="col">
                                      <a href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups&#39;,&#39;Sort$Description&#39;)">Description</a>
                                    </th>
                                    <th class="grid-columncommand" data-priority="1" scope="col">Register</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr align="left" data-row-index="0" datakey="1707" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Barth Women's LifeGroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl02$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="1" datakey="1685" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Born Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl03$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="2" datakey="1752" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Brimm Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl04$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="3" datakey="1734" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Burt Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl05$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="4" datakey="1705" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Clemons Women's LifeGroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl06$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="5" datakey="1743" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Condreay Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl07$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="6" datakey="1737" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Denningmann Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl08$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="7" datakey="1759" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Duncan Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl09$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="8" datakey="1714" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Gene Myers Bible Study</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl10$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="9" datakey="1699" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Geno Singles Class</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl11$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="10" datakey="1738" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Grossenbacher Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl12$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="11" datakey="1751" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Hall Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl13$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="12" datakey="1730" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Harvester U - Doctrine 1 - Spring 2014</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl14$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="13" datakey="1731" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Harvester U - Intro To Missions - Spring 2014</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl15$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="14" datakey="1729" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Harvester U - Spiritual Disciplines - Spring 2014</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl16$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="15" datakey="1727" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Heaven Bound Bible Study</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl17$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="16" datakey="1678" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Hoshaw Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl18$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="17" datakey="1739" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">House Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl19$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="18" datakey="1701" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Junghans Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl20$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="19" datakey="1736" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Kiser Bible Study</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl21$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="20" datakey="1755" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Krone Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl22$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="21" datakey="1733" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">LaChapell Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl23$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="22" datakey="1709" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Laytham Women's LifeGroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl24$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="23" datakey="1666" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Life Groups</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl25$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="24" datakey="1757" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">M Grossenbacher Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl26$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="25" datakey="1744" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Martin Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl27$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="26" datakey="1717" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Matthews Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl28$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="27" datakey="1753" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">McAllister Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl29$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="28" datakey="1740" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">McClure Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl30$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="29" datakey="1761" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">McDonnell Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl31$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="30" datakey="1716" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Men to Men</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl32$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="31" datakey="1700" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Mr. Stillman's Neighborhood</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl33$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="32" datakey="1760" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Mullis Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl34$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="33" datakey="1692" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Omoresemi Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl35$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="34" datakey="1690" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Root Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl36$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="35" datakey="1715" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Root/ Flanders Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl37$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="36" datakey="1691" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Sargent Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl38$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="37" datakey="1756" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Schnur Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl39$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="38" datakey="1718" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Seddon Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl40$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="39" datakey="1746" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Sheeley Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl41$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="40" datakey="1698" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Smart Bible Study</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl42$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="41" datakey="1732" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Special Focus Volunteers</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl43$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="42" datakey="1706" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Tharp Women's LifeGroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl44$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="43" datakey="1708" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Thoma Women's LifeGroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl45$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="44" datakey="1750" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Vicars Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl46$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="45" datakey="1713" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Walker Lifegroup</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl47$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="46" datakey="1758" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">West Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl48$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="47" datakey="1754" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Wickham/Hutson Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl49$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="48" datakey="1721" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Women's life group leaders</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl50$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                  <tr align="left" data-row-index="49" datakey="1745" data-original-title="" title="">
                                    <td class="grid-select-cell" data-priority="1">Yoder Life Group</td>
                                    <td class="grid-select-cell" data-priority="1">&nbsp;</td>
                                    <td class="grid-columncommand" align="center" data-priority="1">
                                      <a title="Register" class="btn btn-default btn-sm" href="javascript:__doPostBack(&#39;ctl00$main$ctl12$ctl02$ctl00$gGroups$ctl51$ctl00&#39;,&#39;&#39;)">
                                        <i class="fa fa-pencil">
                                        </i>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                              </table>
                            </div>
                          </div>

                        </div>


                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-sectiona" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div id="zone-sectionb" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="zone-sectionc" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="zone-sectiond" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <!-- End Content Area -->

  </main>


  {% include "parts/footer" %}

  {% include "parts/close-form" %}


</body>
</html>