{% assign post.title = "Login" %}
{% assign post.image = "https://waypointchurch.com/wp-content/uploads/2018/09/DSC_5082-1680x0-c-default.jpg" %}
{% assign post.content = "<p>The WKND<br>WHO:<br>All students currently in 6th- 12th grade<br><br>WHY:<br>The WKND is one of the Student Ministries' most exciting weekends. Students begin with a crazy fun opening and large group session on Friday night. They will stay at host homes and dive deeper together in their discipleship journey through the weekend. You won't want to miss this weekend filled with adventure, discipleship, and praising God!<br><br>WHEN/WHERE:<br>Drop off at The Lower Level of The Realm-Friday, March 2, 2018 at 6:00 pm (eat dinner before you come)<br>Pick up at The Realm-Sunday, March 4, 2018 at 12pm (after the 2nd service ends)<br><br>The WKND is hosted at:<br>The Realm and host homes<br><br>TO REGISTER BEFORE FEBRUARY 1:<br>This registration form<br>$60.00 Non-refundable Payment BY CHECK (includes all meals, activities &amp; the event)<br>$62.00 Non-refundable Payment ONLINE (includes transaction fee and all meals, activities &amp; the event)<br><br>PRICES INCREASE BY $10 AFTER FEBRUARY 1<br><br>ADDITIONAL FORMS TO BE COMPLETED:<br>2018 FBCH Medical Release (can not be turned in till Jan 2018)<br>Student Health Form<br></p>" %}



{% include 'parts/head' %} 

<body id="body">

  {% include 'parts/open-form' %}  

  <!-- Page Header -->
  {% include 'parts/header' %}  

  
  <!-- Start Content Area -->

  <!-- Image Header -->
  <!-- Page Title -->
  {% include "parts/page-header" %}
  
  <main class="container">




    <!-- Breadcrumbs -->    
    <ul class="breadcrumb">
      <li>
        <a href="https://rock.waypointchurch.com/page/1">Home</a>
      </li>
      <li class="active">Login</li>
    </ul>

    <!-- Ajax Error -->
    <div class="alert alert-danger ajax-error" style="display:none">
      <p>
        <strong>Error</strong>
      </p>
      <span class="ajax-error-message">
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-feature" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-main" class="zone-instance">
          <div class="zone-content">
            <div id="bid_277" data-zone-location="Page" class="block-instance login">
              <div class="block-content">
                <div id="ctl00_main_ctl09_ctl01_ctl00_upnlContent">


                  <div id="ctl00_main_ctl09_ctl01_ctl00_pnlLogin" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_main_ctl09_ctl01_ctl00_btnLogin&#39;)">


                    <fieldset>
                      <legend>Login</legend>

                      <div class="row">


                        <div id="ctl00_main_ctl09_ctl01_ctl00_pnlInternalAuthLogin" class="col-sm-12">
                          <div id="ctl00_main_ctl09_ctl01_ctl00_valSummary" class="alert alert-danger" style="display:none;">
                          </div>



                          <div class="form-group rock-text-box ">
                            <label class="control-label" for="ctl00_main_ctl09_ctl01_ctl00_tbUserName">Username</label> <div class="control-wrapper">
                              <input name="ctl00$main$ctl09$ctl01$ctl00$tbUserName" type="text" id="ctl00_main_ctl09_ctl01_ctl00_tbUserName" class="form-control">
                            </div>
                            <span id="ctl00_main_ctl09_ctl01_ctl00_tbUserName_rfv" class="validation-error help-inline" style="display:none;">Username is Required.</span>
                          </div>
                          <div class="form-group rock-text-box ">
                            <label class="control-label" for="ctl00_main_ctl09_ctl01_ctl00_tbPassword">Password</label> <div class="control-wrapper">
                              <input type="hidden" name="ctl00$main$ctl09$ctl01$ctl00$tbPassword_dvrm" id="ctl00_main_ctl09_ctl01_ctl00_tbPassword_dvrm" value="True">
                              <input name="ctl00$main$ctl09$ctl01$ctl00$tbPassword" type="password" id="ctl00_main_ctl09_ctl01_ctl00_tbPassword" class="form-control" autocomplete="off" value="">
                            </div>
                            <span id="ctl00_main_ctl09_ctl01_ctl00_tbPassword_rfv" class="validation-error help-inline" style="display:none;">Password is Required.</span>
                          </div>

                          <div class="checkbox ">
                            <label title="">
                              <input id="ctl00_main_ctl09_ctl01_ctl00_cbRememberMe" type="checkbox" name="ctl00$main$ctl09$ctl01$ctl00$cbRememberMe">Remember me on this computer</label>
                            </div>

                            <input type="submit" name="ctl00$main$ctl09$ctl01$ctl00$btnLogin" value="Login" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl09$ctl01$ctl00$btnLogin&quot;, &quot;&quot;, true, &quot;Login_277&quot;, &quot;&quot;, false, false))" id="ctl00_main_ctl09_ctl01_ctl00_btnLogin" class="btn btn-primary">
                            <input type="submit" name="ctl00$main$ctl09$ctl01$ctl00$btnNewAccount" value="Register" id="ctl00_main_ctl09_ctl01_ctl00_btnNewAccount" class="btn btn-action">
                            <input type="submit" name="ctl00$main$ctl09$ctl01$ctl00$btnHelp" value="Forgot Account" id="ctl00_main_ctl09_ctl01_ctl00_btnHelp" class="btn btn-link">




                          </div>
                        </div>
                      </fieldset>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="zone-sectiona" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div id="zone-sectionb" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="zone-sectionc" class="zone-instance">
            <div class="zone-content"> 
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="zone-sectiond" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
      </div>

      <!-- End Content Area -->

    </main>

    {% include "parts/footer" %}

    {% include "parts/close-form" %}

  </body>
  </html>