{% assign post.title = "My Account" %}
{% assign post.image = "https://waypointchurch.com/wp-content/uploads/2018/09/DSC_5082-1680x0-c-default.jpg" %}


{% include 'parts/head' %} 


<body id="body">
  {% include 'parts/open-form' %}  

  <!-- ArtSpeak  -->
  {% include 'parts/header' %}  

  <!-- Start Content Area -->

  <!-- Image Header -->
  <!-- ArtSpeak added new markup: page-header -->
  {% include "parts/page-header" %}

  <main class="container">

    <!-- Start Content Area -->

    <!-- Page Title -->
    <!-- ArtSpeak removed page title -->
    <ul class="breadcrumb">
      <li>
        <a href="https://rock.waypointchurch.com/page/1">Home</a>
      </li>
      <li class="active">My Account</li>
    </ul>

    <!-- Ajax Error -->
    <div class="alert alert-danger ajax-error" style="display:none">
      <p>
        <strong>Error</strong>
      </p>
      <span class="ajax-error-message">
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-feature" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div id="zone-main" class="zone-instance">
          <div class="zone-content">
            <div id="bid_763" data-zone-location="Page" class="block-instance public-profile-edit">
              <div class="block-content">
                <div id="ctl00_main_ctl10_ctl01_ctl00_upContent">


                  <script>
                    $(function () {
                      $(".photo a").fluidbox();
                    });
                  </script>

                  <div class="panel panel-block">
                    <div class="panel-heading">
                      <h1 class="panel-title">
                        <i class="fa fa-user">
                        </i>&nbsp;My Account</h1>
                      </div>
                      <div class="panel-body">
                        <input type="hidden" name="ctl00$main$ctl10$ctl01$ctl00$hfPersonId" id="ctl00_main_ctl10_ctl01_ctl00_hfPersonId">

                        <div id="ctl00_main_ctl10_ctl01_ctl00_pnlView">

                          <div class="row">

                            <div class="col-sm-3">
                              <div class="photo">
                                <img src="./images/person-no-photo-male.svg" style="max-width:200px; max-height:200px;">
                              </div>
                            </div>

                            <div class="col-sm-9">
                              <h1 class="title name">
                                Kirk Hadden<div class="pull-right">

                                </div>
                              </h1>

                              <div class="row">
                                <div class="col-md-6">
                                  <ul class="person-demographics list-unstyled">
                                    <li>
                                    </li>
                                    <li>
                                    Male</li>
                                    <li>
                                    Married</li>
                                    <li>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-6">
                                  <ul class="phone-list list-unstyled">

                                    <li>(844) 278-7732 <small>Mobile</small>
                                    </li>

                                  </ul>
                                  kirkhadden@artspeakcreative.com
                                </div>
                              </div>

                              <br>
                              <div class="row">

                              </div>
                              <div class="row">
                                <div class="col-md-12">

                                </div>

                              </div>
                              <br>
                              <a id="ctl00_main_ctl10_ctl01_ctl00_lbEditPerson" class="btn btn-primary btn-xs" href="javascript:__doPostBack(&#39;ctl00$main$ctl10$ctl01$ctl00$lbEditPerson&#39;,&#39;&#39;)"> Update</a>
                            </div>
                          </div>
                          <hr>

                          <h3>
                            Hadden Family
                          </h3>

                          <a id="ctl00_main_ctl10_ctl01_ctl00_lbAddGroupMember" class="btn btn-primary btn-xs" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl10$ctl01$ctl00$lbAddGroupMember&quot;, &quot;&quot;, true, &quot;PublicProfileEdit_763&quot;, &quot;&quot;, false, true))"> Add New Family Member</a>

                          <a id="ctl00_main_ctl10_ctl01_ctl00_lbRequestChanges" class="btn btn-primary btn-xs" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl10$ctl01$ctl00$lbRequestChanges&quot;, &quot;&quot;, true, &quot;PublicProfileEdit_763&quot;, &quot;&quot;, false, true))">Request Additional Changes</a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div id="zone-sidebar1" class="zone-instance">
            <div class="zone-content">
              <div id="bid_428" data-zone-location="Page" class="block-instance html-content">
                <div class="block-content">
                  <div id="ctl00_main_ctl12_ctl01_ctl00_upnlHtmlContent">





                    <div class="panel panel-default">
                      <div class="panel-heading">Account Info</div>
                      <div class="panel-body">
                        <a href="https://rock.waypointchurch.com/ChangePassword">Change Password</a>
                      </div>
                    </div>






                  </div>

                </div>
              </div>
              <div id="bid_600" data-zone-location="Page" class="block-instance group-list-personalized-lava">
                <div class="block-content">
                  <div id="ctl00_main_ctl12_ctl02_ctl00_upnlGroupList">


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        Groups
                      </div>




                      <div class="margin-all-md"> No Groups Available To List</div>


                      <ul class="list-group list-group-panel">

                      </ul>

                    </div>

                    <script type="text/javascript">

                      $( document ).ready(function() {
                        $('.js-group-item').tooltip();
                      });

                    </script>

                  </div>

                </div>
              </div>
              <div id="bid_715" data-zone-location="Page" class="block-instance registration-list-lava">
                <div class="block-content">
                  <div id="ctl00_main_ctl12_ctl03_ctl00_upnlContent">

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="zone-sectiona" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div id="zone-sectionb" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="zone-sectionc" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="zone-sectiond" class="zone-instance">
            <div class="zone-content">
            </div>
          </div>
        </div>
      </div>

      <!-- End Content Area -->

    </main>

    {% include "parts/footer" %}

    {% include "parts/close-form" %}


  </body>
  </html>
