{% assign post.title = "Serve" %}
{% assign post.image = "https://waypointchurch.com/wp-content/uploads/2018/09/DSC_5082-1680x0-c-default.jpg" %}



{% include 'parts/head' %} 

<body id="body">

  {% include 'parts/open-form' %}  

  <!-- ArtSpeak  -->
  {% include 'parts/header' %}  

  <!-- Start Content Area -->

  <!-- Image Header -->
  <!-- ArtSpeak added new markup: page-header -->
  {% include "parts/page-header" %}    

  <main class="container">

    <!-- Start Content Area -->

    <!-- Page Title -->
    <!-- ArtSpeak removed Page Title -->
    <ul class="breadcrumb">
      <li>
        <a href="https://rock.waypointchurch.com/page/1">Home</a>
      </li>
      <li>
        <a href="https://rock.waypointchurch.com/page/229">Connect</a>
      </li>
      <li class="active">Serve</li>
    </ul>

    <!-- Ajax Error -->
    <div class="alert alert-danger ajax-error" style="display:none">
      <p>
        <strong>Error</strong>
      </p>
      <span class="ajax-error-message">
      </span>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="zone-feature" class="zone-instance">
          <div class="zone-content">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div id="zone-sidebar1" class="zone-instance">
          <div class="zone-content">
            <div id="bid_363" data-zone-location="Page" class="block-instance page-menu">
              <div class="block-content">
                <div id="ctl00_main_ctl10_ctl01_ctl00_upContent">


                  <section class="nav-sub">


                    <ul class="nav nav-pills nav-stacked nav-categories">

                      <li>
                        <a href="https://rock.waypointchurch.com/page/230">Children</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/231">Students</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/232">Adults</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/233">Prayer</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/234">Missions</a>
                      </li>

                      <li class="active">
                        <a href="https://rock.waypointchurch.com/page/235">Serve</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/236">Small Groups</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/ContactUs">Contact Us</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/Subscribe">Subscribe</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/FamilyPreRegistration">Family Pre-Registration</a>
                      </li>

                      <li>
                        <a href="https://rock.waypointchurch.com/page/539">New Student Capture</a>
                      </li>

                    </ul>


                  </section>
                  <p>

                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div id="zone-main" class="zone-instance">
          <div class="zone-content">
            <div id="bid_364" data-zone-location="Page" class="block-instance html-content">
              <div class="block-content">
                <div id="ctl00_main_ctl12_ctl01_ctl00_upnlHtmlContent">





                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget pellentesque metus. Sed tempor velit ante, et malesuada lorem venenatis sed. Donec lacinia lacus sit amet pharetra vehicula. Nam accumsan malesuada fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate semper tellus ac faucibus. Nam sodales, libero quis consectetur pharetra, turpis felis tristique tellus, a feugiat nunc leo ac turpis. Mauris congue diam non ante tincidunt ultricies. Praesent ut bibendum metus.</p>







                </div>

              </div>
            </div>
            <div id="bid_671" data-zone-location="Page" class="block-instance connection-opportunity-search">
              <div class="block-content">
                <div id="ctl00_main_ctl12_ctl02_ctl00_upnlContent">



                  <div id="ctl00_main_ctl12_ctl02_ctl00_pnlSearch">

                    <h3>Search</h3>



                    <div class="form-group rock-check-box-list ">
                      <label class="control-label" for="ctl00_main_ctl12_ctl02_ctl00_cblCampus">Campuses</label> <div class="control-wrapper">
                        <input type="hidden" name="ctl00$main$ctl12$ctl02$ctl00$cblCampus$hf" id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_hf" value="1">
                        <div class="controls js-rockcheckboxlist">

                          <label class="checkbox-inline">
                            <input id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_0" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$cblCampus$0" value="1">Main Campus</label>
                            <span id="ctl00_main_ctl12_ctl02_ctl00_cblCampus_cblCampus_cfv" class="validation-error help-inline" style="display:none;">Campuses is Required.</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group rock-control-wrapper ">
                        <label class="control-label" for="ctl00_main_ctl12_ctl02_ctl00_filter_1634_wrapper">Preference Area</label> <div class="control-wrapper">
                          <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1634" class="row field-criteria">
                            <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_col1" class="">
                            </div>
                            <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_col2" class="col-md-12">
                              <input type="hidden" name="ctl00$main$ctl12$ctl02$ctl00$filter_1634_cbList$hf" id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_cbList_hf" value="1">
                              <div class="controls js-rockcheckboxlist">
                                <div class="js-filter-control">

                                  <label class="checkbox-inline">
                                    <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_cbList_0" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1634_cbList$0" value="1">Children's</label>
                                    <label class="checkbox-inline">
                                      <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_cbList_1" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1634_cbList$1" value="2">First Impressions</label>
                                    </div>
                                    <span id="ctl00_main_ctl12_ctl02_ctl00_filter_1634_cbList_filter_1634_cbList_cfv" class="validation-error help-inline" style="display:none;">
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group rock-control-wrapper ">
                            <label class="control-label" for="ctl00_main_ctl12_ctl02_ctl00_filter_1635_wrapper">Days of the Week</label> <div class="control-wrapper">
                              <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1635" class="row field-criteria">
                                <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_col1" class="">
                                </div>
                                <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_col2" class="col-md-12">
                                  <input type="hidden" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$hf" id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_hf" value="1">
                                  <div class="controls js-rockcheckboxlist">
                                    <div class="js-filter-control">

                                      <label class="checkbox-inline">
                                        <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_0" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$0" value="1">Mon</label>
                                        <label class="checkbox-inline">
                                          <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_1" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$1" value="2">Tue</label>
                                          <label class="checkbox-inline">
                                            <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_2" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$2" value="3">Wed</label>
                                            <label class="checkbox-inline">
                                              <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_3" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$3" value="4">Thu</label>
                                              <label class="checkbox-inline">
                                                <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_4" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$4" value="5">Fri</label>
                                                <label class="checkbox-inline">
                                                  <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_5" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$5" value="6">Sat</label>
                                                  <label class="checkbox-inline">
                                                    <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_6" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1635_ctlCompareValue$6" value="7">Sun</label>
                                                  </div>
                                                  <span id="ctl00_main_ctl12_ctl02_ctl00_filter_1635_ctlCompareValue_filter_1635_ctlCompareValue_cfv" class="validation-error help-inline" style="display:none;">
                                                  </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="form-group rock-control-wrapper ">
                                          <label class="control-label" for="ctl00_main_ctl12_ctl02_ctl00_filter_1636_wrapper">Role</label> <div class="control-wrapper">
                                            <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1636" class="row field-criteria">
                                              <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_col1" class="">
                                              </div>
                                              <div id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_col2" class="col-md-12">
                                                <input type="hidden" name="ctl00$main$ctl12$ctl02$ctl00$filter_1636_ctlCompareValue$hf" id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_ctlCompareValue_hf" value="1">
                                                <div class="controls js-rockcheckboxlist">
                                                  <div class="js-filter-control">

                                                    <label class="checkbox-inline">
                                                      <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_ctlCompareValue_0" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1636_ctlCompareValue$0" value="1">Upfront</label>
                                                      <label class="checkbox-inline">
                                                        <input id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_ctlCompareValue_1" type="checkbox" name="ctl00$main$ctl12$ctl02$ctl00$filter_1636_ctlCompareValue$1" value="2">Behind the Scenes</label>
                                                      </div>
                                                      <span id="ctl00_main_ctl12_ctl02_ctl00_filter_1636_ctlCompareValue_filter_1636_ctlCompareValue_cfv" class="validation-error help-inline" style="display:none;">
                                                      </span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <a id="ctl00_main_ctl12_ctl02_ctl00_btnSearch" class="btn btn-primary" data-completed-text="" data-completed-message="" data-timeout-text="" data-init-text="Search" onclick="Rock.controls.bootstrapButton.showLoading(this);" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$main$ctl12$ctl02$ctl00$btnSearch&quot;, &quot;&quot;, true, &quot;OpportunitySearch_671&quot;, &quot;&quot;, false, true))">Search</a>


                                          </div>






                                          <div class="panel panel-default margin-t-md">
                                            <div class="panel-heading clearfix">
                                              <h2 class="panel-title pull-left"><i class="fa fa-child"></i> Children's</h2>
                                            </div>
                                            <div class="panel-body">
                                              <div class="col-md-2">
                                                <img alt="Image for Children&#39;s" src="./images/childrens.jpg" class="title-image img-responsive margin-b-md">
                                              </div>
                                              <div class="col-md-10">
                                                <p>If you love kids, this is the ministry for you. Our children’s team has the opportunity to share God’s love in a direct and tangible way. You have the option of working with many different age ranges. No experience is necessary-just a willingness to serve.</p>

                                                <a class="btn btn-default" href="https://rock.waypointchurch.com/page/412?OpportunityId=3" role="button">More Info</a>

                                              </div>
                                            </div>
                                          </div>

                                          <div class="panel panel-default margin-t-md">
                                            <div class="panel-heading clearfix">
                                              <h2 class="panel-title pull-left"><i class="fa fa-smile-o"></i> Greeter</h2>
                                            </div>
                                            <div class="panel-body">
                                              <div class="col-md-2">
                                                <img alt="Image for Greeter" src="./images/greeter.jpg" class="title-image img-responsive margin-b-md">
                                              </div>
                                              <div class="col-md-10">
                                                <p>A warm smile, a firm handshake, these are the experiences that make a church a home. As a greeter you set the tone of a person’s visit by creating a welcoming environment. It’s also a great opportunity to make a ton of new friends that you’ll soon call family.</p>

                                                <a class="btn btn-default" href="https://rock.waypointchurch.com/page/412?OpportunityId=1" role="button">More Info</a>

                                              </div>
                                            </div>
                                          </div>

                                          <div class="panel panel-default margin-t-md">
                                            <div class="panel-heading clearfix">
                                              <h2 class="panel-title pull-left"><i class="fa fa-arrow-circle-o-right"></i> Usher</h2>
                                            </div>
                                            <div class="panel-body">
                                              <div class="col-md-2">
                                                <img alt="Image for Usher" src="./images/usher.jpg" class="title-image img-responsive margin-b-md">
                                              </div>
                                              <div class="col-md-10">
                                                <p>Walking into a service can be overwhelming for some. As a usher you get to put their minds at ease as you help them find their seats and fill their every need. There’s always time to say hello to a few regulars and build new friendships with first-time guests.</p>

                                                <a class="btn btn-default" href="https://rock.waypointchurch.com/page/412?OpportunityId=2" role="button">More Info</a>

                                              </div>
                                            </div>
                                          </div>


                                          <script type="text/javascript">
                                            $( document ).ready(function() {
                                              $('.js-group-item').tooltip();
                                            });
                                          </script>





                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <div id="zone-sectiona" class="zone-instance">
                                  <div class="zone-content">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <div id="zone-sectionb" class="zone-instance">
                                  <div class="zone-content">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div id="zone-sectionc" class="zone-instance">
                                  <div class="zone-content">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div id="zone-sectiond" class="zone-instance">
                                  <div class="zone-content">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- End Content Area -->

                          </main>

                          {% include "parts/footer" %}

                          {% include "parts/close-form" %}


                        </body>
                        </html>