
// Load Master Styles
// -------------------------
@import "Rock/Styles/Bootstrap/variables.less";
@import "Rock/Styles/_rock-core.less";
@import "Rock/Styles/_store.less";
@import "Rock/Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";

// Waypoint Variables
@font-family-sans-serif: "Zilla Slab", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif; // The base font to use for text. Be sure when defining this font that the various weights are configured.
@theme-1: @color-primary;
@theme-2: @color-dark; // admin bar
@theme-7: @color-cta;
@theme-8: @color-cream;
@well-bg: @color-silver;
@border-radius-base: 0px;
/*
    Rock Theme Styles

    1. HTML Overrideshere
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  display: block;
}

// 2. Bootstrap Overrides
// -------------------------

.navbar {
  position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013
  // using fontawesome nav toggle button instead of the BS default
  .navbar-toggle {
    padding: 6px 10px;

    i.fa-bars {
      color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }
}

a:hover i.fs {
  text-decoration: none;
}

// 3. Theme Styling
// -------------------------

h1.pagetitle:empty { // hides the page title h1 tag if the page has the title hidden
  display: none;
}

.page-icon {
  display: none;
}

header {
  .page-menu,
  .login-status {
    float: right;
  }

  .navbar {
    background-color: @header-bg;
    border: 0;
  }
}

// homepage items
#announcement-rotator {
  margin: 0 -@grid-gutter-width/2 @spacing-lg-px;

  .item {
    img {
      width: 100%;
    }
  }
}

.announcement-list {
  .announcement {
    max-width: 390px;
    margin: 0 auto @spacing-lg-px;
  }

  .announcement-title {
    margin: @spacing-sm-px 0;
  }

  img {
    width: 100%;
  }
}

.announcement-detail {
  img {
    width: 100%;
  }
}

.nav-sub {
  li {
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-base;
  }
}

footer {
  margin-bottom: 50px;

  .footer-message {
    float: left;
  }

  .footer-address {
    float: right;
  }
}

#splash.error {
  background-color: @gray-lighter;

  #content {
    padding: 20px;
    margin-top: 20px;
    background-color: @body-bg;
    border-radius: @border-radius-base;
  }
}

.not-found h2 {
  font-size: 200px;
  font-weight: @font-weight-bold;
  line-height: 210px;
  letter-spacing: -5px;

  i {
    position: relative;
    top: -12px;
    font-size: 210px;
    color: #f03;
  }
}

/* hide block panels */
.panel.panel-block {
  border: 0;
  box-shadow: none;

  & > .panel-heading,
  & > .rock-panel-drawer {
    display: none;
  }

  & > .panel-body {
    padding: 0;

    .grid.grid-panel {
      margin: 0;
    }
  }
}
 
// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
  #announcement-rotator {
    margin: @spacing-lg-px 0;
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}


@import "_css-overrides.less";



// --------------------------------------------------------------------------------------------------------------------------
// ------------------------------------------- WAYPOINT STYLING -------------------------------------------------------------
// --------------------------------------------------------------------------------------------------------------------------

// * * * * * * * * * * * * * * *
// Colors
// * * * * * * * * * * * * * * *

@color-cta:       #de3119; 
@color-red:       #de3119; 
@color-primary:     #103a56; 
@color-navy:      #103a56; 
@color-success:     #d9d950; 
@color-green:     #d9d950; 
@color-warning:     #12a9a0; 
@color-teal:      #12a9a0; 
@color-alert:     #b0321a; 
@color-maroon:    #b0321a; 
@color-light:     #FFF; 
@color-white:     #FFF; 
@color-light-gray:  #efe6dd; 
@color-cream:     #efe6dd; 
@color-medium-gray:   #ada6a1; 
@color-gray:      #ada6a1; 
@color-dark-gray:   #1f3341; 
@color-dark:      #1f3341; 
@color-black:     #2f2a2b; 
@color-none:      #4d4d4d; 
@color-slate:     #4d4d4d; 
@color-none:      #db4e32; 
@color-gradient:    #db4e32; 
@color-none:      #efe6dd; 
@color-silver:    #efe6dd;  

.bg-red, .bg-cta  {background-color: @color-red; color: @color-white; }
.red, .cta  {color: @color-red; fill: @color-red; }
.svg-red{fill: @color-red; }
svg.red * {fill: @color-red; }
.bg-navy, .bg-primary  {background-color: @color-navy; color: @color-white; }
.navy, .primary  {color: @color-navy; fill: @color-navy; }
.svg-navy{fill: @color-navy; }
svg.navy * {fill: @color-navy; }
.bg-green, .bg-success  {background-color: @color-green; }
.green, .success  {color: @color-green; fill: @color-green; }
.svg-green{fill: @color-green; }
svg.green * {fill: @color-green; }
.bg-teal, .bg-warning  {background-color: @color-teal; color: @color-white; }
.teal, .warning  {color: @color-teal; fill: @color-teal; }
.svg-teal{fill: @color-teal; }
svg.teal * {fill: @color-teal; }
.bg-maroon, .bg-alert  {background-color: @color-maroon; color: @color-white; }
.maroon, .alert  {color: @color-maroon; fill: @color-maroon; }
.svg-maroon{fill: @color-maroon; }
svg.maroon * {fill: @color-maroon; }
.bg-white, .bg-light  {background-color: @color-white; }
.white, .light  {color: @color-white; fill: @color-white; }
.svg-white{fill: @color-white; }
svg.white * {fill: @color-white; } 
.bg-cream, .bg-light-gray  {background-color: @color-cream; }
.cream, .light-gray  {color: @color-cream; fill: @color-cream; }
.svg-cream{fill: @color-cream; }
svg.cream * {fill: @color-cream; }
.bg-gray, .bg-medium-gray  {background-color: @color-gray; }
.gray, .medium-gray  {color: @color-gray; fill: @color-gray; }
.svg-gray{fill: @color-gray; }
svg.gray * {fill: @color-gray; }
.bg-dark, .bg-dark-gray  {background-color: @color-dark; color: @color-white; }
.dark, .dark-gray  {color: @color-dark; fill: @color-dark; }
.svg-dark{fill: @color-dark; }
svg.dark * {fill: @color-dark; }
.bg-black {background-color: @color-black; color: @color-white; }
.black {color: @color-black; fill: @color-black; }
.svg-black{fill: @color-black; }
svg.black * {fill: @color-black; }
.bg-slate, .bg-none  {background-color: @color-slate; color: @color-white; }
.slate, .none  {color: @color-slate; fill: @color-slate; }
.svg-slate{fill: @color-slate; }
svg.slate * {fill: @color-slate; }
.bg-gradient, .bg-none  {background-color: @color-gradient; color: @color-white; }
.gradient, .none  {color: @color-gradient; fill: @color-gradient; }
.svg-gradient{fill: @color-gradient; }
svg.gradient * {fill: @color-gradient; }
.bg-silver, .bg-none  {background-color: @color-silver; }
.silver, .none  {color: @color-silver; fill: @color-silver; }
.svg-silver{fill: @color-silver; }
svg.silver * {fill: @color-silver; }

.bg-gradient {
  background-image: linear-gradient(to left, @color-cta, @color-navy);  
  color: @color-white;  
}





// * * * * * * * * * * * * * * *
// Typography
// * * * * * * * * * * * * * * *


body, html {
  font-size: 100%;

  @media (min-width: @screen-lg-min) { 
    font-size: 105%;
  }
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/nexa_heavy-webfont.eot');
    src: url('../fonts/nexa_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_heavy-webfont.woff') format('woff'),
         url('../fonts/nexa_heavy-webfont.ttf') format('truetype'),
         url('../fonts/nexa_heavy-webfont.svg#nexaheavy') format('svg');
    font-weight: 900; 
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/nexa_xbold-webfont.eot');
    src: url('../fonts/nexa_xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_xbold-webfont.woff') format('woff'),
         url('../fonts/nexa_xbold-webfont.ttf') format('truetype'),
         url('../fonts/nexa_xbold-webfont.svg#nexaheavy') format('svg');
    font-weight: 700;
    font-style: normal;
}


@body-font-family: 'Zilla Slab', sans-serif;  
@header-font-family: 'Nexa', @body-font-family, sans-serif;   

h1,h2,h3,h4,h5,h6 {
  font-family: @header-font-family;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15rem;
  line-height: 1em;

  &:first-child {
    margin-top: 0px;
  }
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.button, .btn, .btn-link {
  font-family: @header-font-family;
  text-transform: uppercase;
  letter-spacing: .15rem;  
  color: @color-navy;
  border: 2px solid;
  border-color: inherit;
  background: transparent;
  transition: .2s;
  &:hover {
    color: @color-green;
    border-color: inherit;
    background-color: transparent;
  }
}

.btn-link {
  color: @color-navy;
  border-color: @color-navy;
  background: transparent;
  &:hover {
    color: @color-green;
    text-decoration: none;
  }
}


.breadcrumb {
  font-family: @header-font-family;
  text-transform: uppercase;
  font-size: .7rem;

}





// * * * * * * * * * * * * * * *
// Header
// * * * * * * * * * * * * * * *

header .navbar {
  margin-bottom: 0;
}

@media (min-width: @screen-md-min) { 
  header .navbar {
    background: transparent; 
  }

  header {
    position: absolute;
    width: 100%;
    z-index: 100;
  }

}

// * * * * * * * * * * * * * * *
// Layout
// * * * * * * * * * * * * * * *




@normal-padding: 60px;
@thin-padding: 15px;
@thick-padding: 2*@normal-padding;

main {
  padding-bottom: @normal-padding;
}




.section-content, .normal-padding {
  padding-top: @normal-padding;
  padding-bottom: @normal-padding;
}

.no-padding {
  padding: 0px;
}
.thin-padding {
  padding-top: @thin-padding;
  padding-bottom: @thin-padding;  
}
.thick-padding {
  padding-top: @thick-padding;
  padding-bottom: @thick-padding;
}
.mega-padding {
  padding-top: 20vh;
  padding-bottom: 20vh;
} 

section.has-image {
  overflow: hidden; 
  position: relative; 
}

.section-background-image {
  position: absolute; 
  left:0px;
  right:0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center center;
  min-width: 100%;
  max-width: 600%;
  min-height: 100%;
  z-index: 0;
  opacity: .5;
}



// * * * * * * * * * * * * * * *
// Navigation
// * * * * * * * * * * * * * * *



header .page-menu {
  float: none;
  display: flex;
  justify-content: center;
}


.nav.navbar-nav {
  font-family: @header-font-family;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1em;
  
  a {
    white-space: nowrap;  
    transition: .15s;
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      border-bottom: 3px solid  @color-white; 
      transition: .2s;
    }
    &:hover {
      color: @color-white; 
      &:after {
        left: 0%;
        right: 0%;
        transition: .5s;
      }
    }
  } 

}

// * * * * * * * * * * * * * * *
// Footer
// * * * * * * * * * * * * * * *

footer {
  margin-bottom: 0px;
  padding: @thin-padding;


  .footer-logo {
    padding: @thin-padding; 
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    color: @color-white;
    &:hover {
      color: @color-green;
    }
  }

  .social-media {
    list-style: none;
    padding: 0;
    span {display: none;}
    display: flex;

    justify-content: center;
    align-items: center;
    a {
      color: @color-white;
      opacity: 1;
      display: block;
      margin: 0;
      font-size: 2.5rem;
      line-height: 1.5em;
      width: 1.5em;
      text-align: center;
      letter-spacing: 0;
      transition: .3s;
    }
  }
}

#nav-footer {

  ul {
    list-style: none;
    padding: 0;
  }

}

#nav-footer {
  display: flex;
  width: 90%;
  margin: auto;

  ul.menu {
    display: none;

    a {
      opacity: 1;
      color: @color-white;

      &:hover {
        color: @color-silver;
      }
    }
  }

  .contact-footer {
    max-width: 50%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0;

    a {
      font-family: @body-font-family;
      line-height: 1.2;
      margin-bottom: 1rem;

      padding-left: 1rem;
      position: relative;
      i {
        position: absolute;
        left: 0;
      }
      @include breakpoint(large){
        &:hover {
          color: @color-silver;
        }
      }
    }
  }

  @media (min-width: @screen-md-min) { 

    & > ul.menu {
      flex: 5;
      display: flex;
      justify-content: space-evenly;  

      & > li {

        min-width: 3rem;

        ul.menu {
          display: flex;
          flex-direction: column;
          border-top: none;
          padding-top: 0;
          margin-top: 0;
        }
      }
    }

    .contact-footer {
      flex: 1;
      &::before {
        content: 'Contact';
        font-family: @header-font-family; 
      }

      text-align: left;
      max-width: 10rem;
    }
  }
}

// * * * * * * * * * * * * * * *
// Events
// * * * * * * * * * * * * * * *

.well.event-details {
  background: @color-navy;
  color: @color-white;
  margin-top: -@normal-padding;
  border: 0px;

  a, .btn {
    color: @color-green;
  }

  strong {
    font-family: @header-font-family;
    text-transform: uppercase;
  }

  @media (min-width: @screen-lg-min) { 
    margin-left: calc(570px - 50vw);
    padding-left: calc(50vw - 570px);
  }
}

.socialsharing {
  a {
    width: 41px;
    height: 41px;
    text-align: center;
    display: block;
  }
  li .socialicon {
    border-radius: 0px;
  }
}


// * * * * * * * * * * * * * * *
// Serve
// * * * * * * * * * * * * * * *


